body {
  background-color: #008400;
}

h1 {
  color: white;
  font-size: 5rem;
  font-family: 'Open sans', sans-serif;
  font-weight: 100;
}

h1:hover {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
