$bgc: green;

body {
  background-color: lighten($bgc, .75);
}
h1 {
  color: white;
  font-size: 5rem;
  font-family: 'Open sans', sans-serif;
  font-weight: 100;
}

h1:hover {
  transition: color 1s ease;
}
